.imageCropResizePoint {
	position:absolute;
	background-color: #333;
	border: 1px #EEE solid;
	font-size: 1px;
	height: 7px;
	width: 7px;
	z-index: 1000;
}

#imageCropSource {
	width: 100%;
	background-repeat: no-repeat;
}

#imageCropSelector {
	position:absolute;
	max-width: 100%;
	display:none;
	top:0;
	left: 0px;
	border: dashed 1px rgb(52, 73, 94);
	height: 0px;
	width: 0px;
	background-repeat: no-repeat;
	z-index:2;
}

#vertical_1 {
	background-color: rgba(52, 73, 94,0.2);
	width: 1px;
	position: absolute;
	top: 0px;
	left: 33%;
	bottom: 0px;
	z-index: 9999;
}

#vertical_2 {
	background-color: rgba(52, 73, 94,0.2);
	width: 1px;
	position: absolute;
	top: 0px;
	right: 33%;
	bottom: 0px;
	z-index: 9999;
}

#horizontal_1 {
	background-color: rgba(52, 73, 94,0.2);
	height: 1px;
	position: absolute;
	top: 33%;
	left: 0px;
	right: 0px;
	z-index: 9999;
}

#horizontal_2 {
	background-color: rgba(52, 73, 94,0.2);
	height: 1px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 33%;
	z-index: 9999;
}

#resize_top_left {
	top:-5px;
	left: -5px;
	cursor: nw-resize;
}

#resize_top_middle {
	top:-5px;
	bottom: 0px;
	left : 0px;
	right: 0px;
	margin-left:auto;
	margin-right:auto;
	cursor: ns-resize;
}

#resize_top_right {
	top:-5px;
	right: -5px;
	cursor: ne-resize;
}

#resize_middle_left {
	top: 0px;
	bottom: 0px;
	left: -5px;
	margin-top: auto;
	margin-bottom: auto;
	cursor: ew-resize;
}

#resize_bottom_left {
	bottom:-5px;
	left: -5px;
	cursor: sw-resize;
}

#resize_middle_right {
	top: 0px;
	bottom: 0px;
	right: -5px;
	margin-top: auto;
	margin-bottom: auto;	
	cursor: ew-resize;
}

#resize_bottom_middle {
	bottom:-5px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	cursor: ns-resize;
}

#resize_bottom_right {
	bottom:-5px;
	right: -5px; 
	cursor: se-resize;
}

#resize_top { 
	width: 100%;
	height: 10px;
	background-color: transparent;
	position: absolute;
	left:0px;
	top:-5px;
	cursor: ns-resize;
	z-index: 999;
}

#resize_bottom {
	width: 100%;
	height: 10px;
	background-color: transparent;
	position: absolute;
	left:0px;
	bottom:-5px;
	cursor: ns-resize;
	z-index: 999;	
}

#resize_right {
	height: 100%;
	width: 10px;
	background-color: transparent;
	position: absolute;
	right:-5px;
	top:0px;
	cursor: ew-resize;
	z-index: 999;
}

#resize_left {
	height: 100%;
	width: 10px;
	background-color: transparent;
	position: absolute;
	left:-5px;
	top:0px;
	cursor: ew-resize;
	z-index: 999;
}

#imageCropBlock {
	position:absolute;
	top:0;
	left: 0px;
	width: 100%;
	height:100%;
	z-index:1;
}

#cropToolLoading {
	background-color: rgba(0,0,0,0.5) !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: 50% !important;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px
}

#third_grid {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
}